html {
  height: 100%;
}

body {
  height: 100%;
}

#editor {
  height: 100%;
  display: none;
}

textarea {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
}

.textarea {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 100%;
} 

.CodeMirror-scroll {
  height: 100% !important;
}

#filelist ul {
  list-style-type: none;
  width: 400px;
}

#filelist li {
  border: 1px dotted #999;
  border-width: 1px 0;
  margin: 5px 0;
}

#filelist li a:hover {
  background: #ffffcc;
}

#delete {
  float: right;
}